@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.popup-overlay.fade-out {
    animation: fadeOut 0.3s ease-in-out;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 500px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: fadeIn 0.3s ease-in-out;
}

.popup-content.fade-out {
    animation: fadeOut 0.3s ease-in-out;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
}

.close-button:hover {
    color:darkred;
}

.review-section {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.review-section h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.review-section p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
}
